<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

<!--  데이터베이스 연결 정보를 web.xml 파일에 미리 입력 -->
  <context-param>
    <param-name>MySqlDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>MySqlUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/next502db</param-value>
  </context-param>
  <context-param>
    <param-name>MySqlUser</param-name>
    <param-value>test1</param-value>
  </context-param>
  <context-param>
    <param-name>MySqlPass</param-name>
    <param-value>next502</param-value>
  </context-param>
  <context-param>
    <param-name>MySqlOpt1</param-name>
    <param-value>characterEncoding=UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>MySqlOpt2</param-name>
    <param-value>serverTimezone=UTC</param-value>
  </context-param>

</web-app>










